<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
	<link rel="stylesheet" th:href="@{/layuiadmin/layui/css/formSelects-v4.css?v=1}" media="all">
	<link rel="stylesheet" th:href="@{/css/my.css?v=3}" media="all">
	
	<title>服务管理</title>
	<style type="text/css">
			#editService{
				display:none;
				padding:10px 20px 10px 20px;
				line-height:30px;
				text-align: center;
			}
			.layui-table td {
				padding: 0;
			}
			.layui-table input[type="text"] {
				border: none;
			}
			.layui-table button{
				border: none;
			}
			.layui-table select{
				border: none;
				width: 100%;
				height: 100%;
			}
	</style>
</head>
<body>
<blockquote class="layui-elem-quote layui-text">
	<form class="layui-form">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">服务ID</label>
				<div class="layui-input-inline">
					<input type="text" id="likeServiceId" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">服务名称</label>
				<div class="layui-input-inline">
					<input type="text" id="likeExplain" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<button class="layui-btn" type="button" id="btn-query"><i class="layui-icon layui-icon-search"></i>搜索</button>
			</div>
		</div>
	</form>
</blockquote>
<table id="tb" lay-filter="tb"></table>
<script type="text/html" id="toolbar">
	<div class="layui-inline">
      <button class="layui-btn layui-btn-sm" type="button" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除服务</button>
	  <button class="layui-btn layui-btn-sm" type="button" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>修改服务</button>
	  <button class="layui-btn layui-btn-sm" type="button" lay-event="add"><i class="layui-icon layui-icon-add-1"></i>新增服务</button>
	</div>
</script>
<script type="text/html" id="inputTemplate">
	<tr>
		<td><input type="text" class="layui-input record" readonly value="单记录" onclick="toggleRecord(this)"></td>
		<td><input type="text" class="layui-input codeRuler"></td>
		<td><input type="text" class="layui-input changeRuler"></td>
		<td>
			<select class="dic">
				<option value="">String</option>
				<option value="getCardType">卡类型</option>
				<option value="getCertType">证件类型</option>
				<option value="getChannel">渠道</option>
				<option value="getCountry">国籍</option>
				<option value="getDocTitle">医生级别</option>
				<option value="getFeetype">缴费类型</option>
				<option value="getPaytype">支付类型</option>
				<option value="getRechargetype">就医类型</option>
				<option value="getSex">性别</option>
				<option value="getTime">时间</option>
			</select>
		</td>
		<td><input type="text" class="layui-input value"></td>
		<td>
			<select class="dbfield">
				<option value="">无</option>
			</select>
		</td>
		<td><input type="text" class="layui-input explain"></td>
		<td><input type="text" class="layui-input length" value="50"></td>
		<td><input type="text" class="layui-input notNull" readonly value="false" onclick="toggleNotNull(this)"></td>
		<td>
			<button class="layui-btn layui-btn-primary" type="button" onclick="finishInput(this,'${type}')"><i class="layui-icon layui-icon-ok"></i></button>
		</td>
		<td>
			<button class="layui-btn layui-btn-primary" type="button" onclick="delInput(this,'${type}')"><i class="layui-icon layui-icon-close"></i></button>
		</td>
	</tr>
</script>
<div id="editService">
	<form class="layui-form"  id="basePage" method="post">
		<blockquote class="layui-elem-quote">基础信息</blockquote>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">服务ID<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<input type="text" id="serviceId" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">服务名称<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<input type="text" id="explain" class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">数据类型<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<select id="datatype">
				        <option value="xml">xml</option>
				        <option value="json">json</option>
				    </select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">是否存储 </label>
				<div class="layui-input-inline" style="text-align: left;">
					<input type="checkbox"  name="isactive" lay-skin="switch" lay-filter="isactive" lay-text="ON|OFF">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">数据库表名<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<select id="tableName" lay-filter="tableName" th:with="list=${@serveService.findTableList()}">
						<option th:if="${nameStat.index==0}" selected="selected" th:each="name:${list}" th:value="${name}" th:text="${name}"></option>
						<option th:if="${nameStat.index!=0}" th:each="name:${list}" th:value="${name}" th:text="${name}"></option>
					</select>
				</div>
			</div>
		</div>
		
	</form>
	<div id="inputPage" style="display: none;">
		<blockquote class="layui-elem-quote">输入参数</blockquote>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">ReqRoot<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<input type="text" id="ReqRoot"  class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">RecordRoot<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<input type="text" id="RecordRoot"  class="layui-input">
				</div>
			</div>
		</div>
		<table class="layui-table">
			<colgroup>
			    <col width="70">
			    <col width="150">
			    <col>
			    <col width="100">
			    <col width="100">
				<col>
			    <col>
			    <col width="60">
			    <col width="80">
			    <col>
			</colgroup>
			<thead>
				<tr>
					<th>记录</th>
					<th>编码规则</th>
					<th>转变后的规则</th>
					<th>字典转换</th>
					<th>默认值</th>
					<th>表字段</th>
					<th>字段描述</th>
					<th>长度</th>
					<th>不为空</th>
					<th colspan="2">
						<button style="width: 100%;height:100%" class="layui-btn layui-btn-primary" type="button" onclick="addInput('input')"><i class="layui-icon layui-icon-addition"></i></button>
					</th>
				</tr> 
			</thead>
			<tbody  id="inputbox">
			</tbody>
		</table>
		<blockquote class="layui-elem-quote">智能解析</blockquote>
		<div class="layui-form-item">
		    <label class="layui-form-label">xml解析</label>
		    <div class="layui-input-block" style="width: 50%;">
				<div>
					<textarea id="inputXmlContent" placeholder="请输入XML内容" class="layui-textarea"></textarea>
					<button class="layui-btn" onclick="parseXml('input')">解析</button>
				</div>
		    </div>
		</div>
	</div>
	<div id="outputPage" style="display: none;">
		
		<blockquote class="layui-elem-quote">输出参数</blockquote>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">hiscode<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<input type="text" id="hiscode"  class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">hismsg<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<input type="text" id="hismsg"  class="layui-input">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">rightcode<span style="color:red">*</span></label>
				<div class="layui-input-inline">
					<input type="text" id="rightcode"  class="layui-input">
				</div>
			</div>
		</div>
		<table class="layui-table">
			<colgroup>
			    <col width="70">
			    <col width="150">
			    <col>
			    <col width="100">
			    <col width="100">
				<col>
			    <col>
			    <col width="60">
			    <col width="80">
			    <col>
			</colgroup>
			<thead>
				<tr>
					<th>记录</th>
					<th>编码规则</th>
					<th>转变后的规则</th>
					<th>字典转换</th>
					<th>默认值</th>
					<th>数据库字段</th>
					<th>字段描述</th>
					<th>长度</th>
					<th>不为空</th>
					<th colspan="2">
						<button style="width: 100%;height:100%" class="layui-btn layui-btn-primary" type="button" onclick="addInput('output')"><i class="layui-icon layui-icon-addition"></i></button>
					</th>
				</tr> 
			</thead>
			<tbody id="outputbox">
			</tbody>
		</table>
		<blockquote class="layui-elem-quote">智能解析</blockquote>
		<div class="layui-form-item">
		    <label class="layui-form-label">xml解析</label>
		    <div class="layui-input-block" style="width: 50%;">
				<div>
					<textarea id="outputXmlContent" placeholder="请输入XML内容" class="layui-textarea"></textarea>
					<button class="layui-btn" onclick="parseXml('output')">解析</button>
				</div>
		    </div>
		</div>
	</div>
	<div class="layui-inline">
		<button class="layui-btn layui-btn-sm" style="display: none;" type="button" id="back">上一步</button>
		<button class="layui-btn layui-btn-sm" type="button" id="next">下一步</button>
		<button class="layui-btn layui-btn-sm" style="display: none;" type="button" id="finish">完成</button>
	</div>
</div>
</body>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/Call_Ajaxtools.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/C1.js}"></script>   
<script th:src="@{/layuiadmin/layui/layui.js}"></script>  
<script th:inline="text">
layui.config({
    base: '[[@{/layuiadmin/}]]', //静态资源所在路径
    version: new Date().getTime() //每次发布项目时，跟着改动下该属性值即可更新静态资源的缓存
  }).extend({
	    index: 'lib/index', //主入口模块
	    formSelects: 'lib/extend/formSelects-v4'
  }).use(['form','table','layer', 'formSelects'], function(){
		let table = layui.table;
		let form = layui.form;
		let formSelects = layui.formSelects;
		
		let loadColumnList = function() {
			axios.post('/trade/findColumnListByTable?tableName=' + $("#tableName").val()).then( res => {
				res = res.data;
				console.log(res);
				if(res.code == "0") {
					columnList = res.data;
					// 修改：不存储时，字段不存。存储且改变表时，所有tr都更新字段列表，当前dbfield匹配则选中，不匹配则赋值空
					// 更新字段列表
					let input_trs = $("#inputbox").children();
					let output_trs = $("#outputbox").children();
					let _tr;
					let dbfieldValue;
					let isEmpty = true;
					for(let i=0;i< input_trs.length + output_trs.length;i++){
						if(i >= input_trs.length){
							_tr = $(output_trs[i-input_trs.length]);
						}else{
							_tr = $(input_trs[i]);
						}
						dbfieldValue = _tr.find(".dbfield").attr("value");
						_tr.find(".dbfield").html('');
						_tr.find(".dbfield").append('<option value="">无</option>');
						isEmpty = true;
						for(let j=0;j<columnList.length;j++){
							if(dbfieldValue == columnList[j].name) {
								_tr.find(".dbfield").append('<option selected value="'+columnList[j].name+'">'+columnList[j].name+'</option>');
								if(_tr.find(".explain").val().trim() == ""){
									_tr.find(".explain").val(columnList[j].comment)
								}
								isEmpty = false;
							}else{
								_tr.find(".dbfield").append('<option value="'+columnList[j].name+'">'+columnList[j].name+'</option>');
							}
						}
						if(isEmpty){
							_tr.find(".dbfield").val('');
						}
					}
					
				}
			})
		}
		
		
		let cleanColumnList = function(){
			let input_trs = $("#inputbox").children();
			let output_trs = $("#outputbox").children();
			let _tr;
			for(let i=0;i< input_trs.length + output_trs.length;i++){
				if(i >= input_trs.length){
					_tr = $(output_trs[i-input_trs.length]);
				}else{
					_tr = $(input_trs[i]);
				}
				_tr.find(".dbfield").html('');
				_tr.find(".dbfield").append('<option value="">无</option>');
			}
		}
		
		// 监听存储表的改变
		form.on('select(tableName)', function(data){
			loadColumnList()
		});
		
		// 查询按钮
		$('#btn-query').on('click', function(){
			reload();
		});
		
		// 回车查询
		$("body").keydown(function() {
		   if(event.keyCode == "13") {//keyCode=13是回车键
				reload();
				return false;
			}
		});
		
		// 监听switch开关，是否存储到数据库
		form.on('switch(isactive)', function(data){
			$("#tableName").parent().parent().parent().toggle()
			if(data.elem.checked){ //开关value值，也可以通过data.elem.value得到
				savedb = "1";
				loadColumnList()
			}else{
				savedb = "0";
				cleanColumnList();
			}
		});
		
		// 渲染表
		table.render({
			elem: '#tb'
			,id:'table'
			,method:'POST'
			,toolbar: '#toolbar'
			,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
				title: '提示'
				,layEvent: 'LAYTABLE_TIPS'
				,icon: 'layui-icon-tips'
			}]
			,where: getParam()
			,url:'[[@{/trade/selectServiceList}]]'
			,loading:true
			,cols: [
				[
					{type: 'radio', fixed: 'left'}		
					,{field:'serviceId',  title: '服务ID'}
					,{field:'serviceExplain',title: '服务名称'}
					,{field:'dataType', title: '数据类型'}
					,{field:'tableName', title: '数据表名'}
					,{field:'savedb', title: '是否存储', templet: function(res){
						return res.savedb=="1"?"是":"否";
					}}
				]
			]
		   	,page: true
		});
		
		// 重新渲染表
		let reload = function(){
			table.reload('table', {where: getParam()}, 'data');
		}
		
		// 监听行工具栏事件
		table.on('toolbar(tb)', function(obj){
			// 添加服务
			if(obj.event == "add") {
				editService(null); // 无值添加
				return;
			}
			// 获取选中行状态
			let checkStatus = table.checkStatus(obj.config.id);
			// 获取选中行数据
			let data = checkStatus.data;
			if(data.length==0){
				layer.msg("请选中一行");
				return;
			}
			let row =data[0];
			switch(obj.event){
				case 'del':
					delService(row);
			    	return;
				case 'edit':
					editService(row); // 有值回显
					return;
				default:
					break;
			};
		   
		});
		
		// 删除服务
		let delService = function(row){
			//询问框
			let index=layer.confirm('您确定删除服务【' + row.serviceExplain + '】吗？', {
			  btn: ['删除','关闭'] //按钮
			}, function(){
				$.when(call_AjaxSyncRetObj("[[@{/trade/deleteService}]]?serviceId="+row.serviceId+"")).done(function(data){	   
				    let obj = C1_eval(data);
				    if(obj.code == "0"){
						//登入成功的提示与跳转
				    	console.log(obj);
			            layer.msg(obj.msg, {
							offset: '15px'
							,icon: 1
							,time: 1000
						}, function(){
							//关闭窗体
			            	layer.close(index);
			            	reload();
			            	return;
						});
					}else{
						layer.msg(obj.msg);
						return;
					}
				});
			}, function(){
				layer.close(index);
			});
		}
		
		// 编辑服务
		let editService = function(row){
			layer.open({
				type: 1,
				skin: 'layui-layer-molv',
				shade: 0.8,
				area:['95%','95%'],
				title: "编辑服务",
				content: $('#editService'),
				success:function(layero,index){
					initModel(row);
				},
				yes: function (index, layero) {
					
				},
				//无论是确认还是取消，只要层被销毁了，end都会执行，不携带任何参数。layer.open关闭事件
				end: function (index) {
					layer.close(index)
				}
			});
		}
		
		// 初始化模态框
		let initModel = function(data){
			// 初始化页面
			step = 0;
			showPage(step);
			// 添加还是修改
			if(data == null) {
				$("#finish").attr("onclick", "finish('addService')")
			}else{
				$("#finish").attr("onclick", "finish('updateService')")
			}
			// 初始化表格
			$("#inputbox").html('');
			$("#outputbox").html('');
			inputIndex = -1;
			outputIndex = -1;
			// 添加服务，清空模态框
			if(data == null){
				// 基本参数
				$("#serviceId").val('');
				$("#serviceId").removeAttr("disabled","disabled");// id可编辑
				$("#serviceExplain").val('');
				$("#dataType").val('xml');
				$('input[name="isactive"]').prop("checked", false); // 不存储
				savedb = "0";
				$("#tableName").parent().parent().parent().hide(); // 隐藏
				// 输入参数
				$("#ReqRoot").val('');
				$("#RecordRoot").val('');
				// 输出参数
				$("#hiscode").val('');
				$("#hismsg").val('');
				$("#rightcode").val('');
			}else{ // 编辑服务，回显数据
				// 基本参数
				$("#serviceId").val(data.serviceId);
				$("#serviceId").attr("disabled","disabled");// id不可修改
				$('#explain').val(data.serviceExplain);
				$('#dataType').val(data.dataType);
				savedb = data.savedb;
				if(savedb == "1"){//启用
					$('#tableName').val(data.tableName);
					$('input[name="isactive"]').prop("checked", true);
					$("#tableName").parent().parent().parent().show()
					// $('input[name="isactive"]').children('em').text('ON');
				}else{//不启用
					$('input[name="isactive"]').prop("checked", false);
					$("#tableName").parent().parent().parent().hide()
					// $('input[name="isactive"]').children('em').text('OFF');
				}
				// 输入参数
				let inputData = JSON.parse(data.input);
				$("#ReqRoot").val(inputData.reqRoot);
				$("#RecordRoot").val(inputData.recordRoot);
				let inputArr = [];
				$.merge($.merge(inputArr,inputData.titles), inputData.records);
				let _tr = null;
				for(let i=0;i<inputArr.length;i++) {
					let reg = /\$\{type\}/g;
					_tr = $($("#inputTemplate").html().replace(reg, 'input'));
					if(i < inputData.titles.length){
						_tr.find(".record").val("单记录");
					}else {
						_tr.find(".record").val("多记录");
					}
					_tr.find(".codeRuler").val(inputArr[i].codeRuler);
					_tr.find(".changeRuler").val(inputArr[i].changeRuler);
					_tr.find(".dic").val(inputArr[i]['function']);
					_tr.find(".value").val(inputArr[i].value);
					_tr.find(".dbfield").attr("value",inputArr[i].dbfield);
					_tr.find(".dbfield").attr("onchange", "changeColumn(this,'"+inputArr[i].serviceExplain+"')")
					if(savedb == "1"){
						_tr.find(".explain").val(inputArr[i].serviceExplain);
					}else{
						_tr.find(".explain").val('');
					}
					_tr.find(".length").val(inputArr[i]['length']);
					_tr.find(".notNull").val(inputArr[i].notNull);
					$("#inputbox").append(_tr);
					_tr.find("button").first().click();
				}
				// 输出参数
				let outputData = JSON.parse(data.output);
				$("#hiscode").val(outputData.retCodeRuler.hiscode);
				$("#hismsg").val(outputData.retCodeRuler.hismsg);
				$("#rightcode").val(outputData.retCodeRuler.rightcode);
				let outputArr = [];
				$.merge( $.merge(outputArr,outputData.titles), outputData.records);
				for(let i=0;i<outputArr.length;i++) {
					let reg = /\$\{type\}/g;
					_tr = $($("#inputTemplate").html().replace(reg, 'output'));
					if(i < outputData.titles.length){
						_tr.find(".record").val("单记录");
					}else {
						_tr.find(".record").val("多记录");
					}
					_tr.find(".codeRuler").val(outputArr[i].codeRuler);
					_tr.find(".changeRuler").val(outputArr[i].changeRuler);
					_tr.find(".dic").val(outputArr[i]['function']);
					_tr.find(".value").val(outputArr[i].value);
					_tr.find(".dbfield").attr("value",outputArr[i].dbfield);
					_tr.find(".dbfield").attr("onchange", "changeColumn(this,'"+outputArr[i].explain+"')")
					if(savedb == "1"){
						_tr.find(".explain").val(outputArr[i].explain);
					}else{
						_tr.find(".explain").val('');
					}
					_tr.find(".length").val(outputArr[i]['length']);
					_tr.find(".notNull").val(outputArr[i].notNull);
					$("#outputbox").append(_tr);
					_tr.find("button").first().click();
				}
			}
			loadColumnList()
			form.render('checkbox');
			form.render('select');
		}
		
	});
	
	
	let savedb = "0"; // 是否保存到数据库表
	let pages = ["#basePage","#inputPage","#outputPage"]
	let step = 0; // 编辑服务的步骤页
	// 新增tr时【存】，完成tr时【删-1】，编辑tr时【存】，删除在编辑tr自身时【删-1】
	// 索引不为-1时，不可新增、编辑其他。存索引的好处是可以索引到tr，标红提示
	let inputIndex = -1; // input当前编辑的tr，索引从0开始，-1表示没有
	let outputIndex = -1; // output当前编辑的tr，索引从0开始，-1表示没有
	let columnList = []; // 字段列表
	
	// 字段改变时，字段描述也跟着改变
	let changeColumn = function(_this, explain) {
		let _tr = $(_this).parent().parent();
		if(explain.trim() == "" || _tr.find(".explain").val().trim() == ""){
			_tr.find(".explain").val(columnList[_tr.find(".dbfield").get(0).selectedIndex-1].comment)
		}
	}
	
	// 搜索参数
	let getParam = function(){
		//查询参数
		let params = {
			serviceId: $("#likeServiceId").val().trim(),
			explain: $("#likeExplain").val().trim()
		};
		return params;
	}
	
	// 显示索引页，隐藏其他页
	let showPage = function(index) {
		
		if(index == 0){
			$("#back").hide();
			$("#next").show();
			$("#finish").hide();
		}
		if(index == 1){
			$("#back").show();
			$("#next").show();
			$("#finish").hide();
		}
		if(index == 2){
			$("#back").show();
			$("#next").hide();
			$("#finish").show();
		}
		if(index < 0 || index >= pages.length){
			return;
		}
		for(let i=0;i<pages.length;i++){
			if(index == i){
				$(pages[index]).show();
			}else{
				$(pages[i]).hide();
			}
		}
	}
		
	// 是否已经在编辑了,type用于区分inputbox和outputbox
	let isEdit = function(type){
		if(type == "input") {
			if(inputIndex != -1){
				layer.msg("请先完成编辑！");
				$($("#inputbox").children()[inputIndex]).find("button").first().attr("style", "border: 1px solid red;")
				setTimeout(function(){
					$($("#inputbox").children()[inputIndex]).find("button").first().removeAttr("style")
				}, 2000);
				return true;
			}
		}else if(type == "output"){
			if(outputIndex != -1){
				layer.msg("请先完成编辑！");
				$($("#outputbox").children()[outputIndex]).find("button").first().attr("style", "border: 1px solid red;")
				setTimeout(function(){
					$($("#outputbox").children()[outputIndex]).find("button").first().removeAttr("style")
				}, 2000);
				return true;
			}
		}
		return false;
	}
		
	// 点击切换记录
	let toggleRecord = function(_this){
		if($(_this).val() == "单记录") {
			$(_this).val("多记录");
		}else{
			$(_this).val("单记录");
		}
	}
		
	// 点击切换不为空
	let toggleNotNull = function(_this){
		if($(_this).val() == "true") {
			$(_this).val("false");
		}else{
			$(_this).val("true");
		}
	}
		
	// 添加tr,type用于区分inputbox和outputbox
	let addInput = function(type) {
		if(isEdit(type)) return;
		let reg = /\$\{type\}/g;
		let _tr = $($("#inputTemplate").html().replace(reg, type));
		if(savedb == "1") {
			_tr.find(".dbfield").attr("onchange", "changeColumn(this,'')")
			_tr.find(".dbfield").html('');
			_tr.find(".dbfield").append('<option value="">无</option>');
			for(let i=0;i<columnList.length;i++){
				_tr.find(".dbfield").append('<option value="'+columnList[i].name+'">'+columnList[i].name+'</option>')
			}
		}
		if(type == "input") {
			inputIndex = $("#inputbox").children().length; // 添加前获取索引的不需要-1
			$("#inputbox").append(_tr)
		}else if(type == "output"){
			outputIndex = $("#outputbox").children().length; // 添加前获取索引的不需要-1
			$("#outputbox").append(_tr)
		}
	}
		
	// 删除tr,type用于区分inputbox和outputbox
	let delInput = function(_this,type) {
		let _tr = $(_this).parent().parent();
		
		if(type == "input") {
			let i = $("#inputbox tr").index(_tr); // 获取当前tr在tbody中索引位置
			if(i < inputIndex) { // 由于删除非当前编辑的tr会导致自己的索引发生改变，只有删除小于当前编辑的tr，索引位置才会改变
				inputIndex = inputIndex - 1; // 更新索引
			}else if(i == inputIndex){ // 删除当前编辑tr
				inputIndex = -1;
			}
		}else if(type == "output"){
			let i = $("#outputbox tr").index(_tr); // 获取当前tr在tbody中索引位置
			if(i < outputIndex) { // 由于删除非当前编辑的tr会导致自己的索引发生改变，只有删除小于当前编辑的tr，索引位置才会改变
				outputIndex = outputIndex - 1; // 更新索引
			}else if(i == outputIndex){ // 删除当前编辑tr
				outputIndex = -1;
			}
		}
		_tr.remove();
	}
	
	// 完成tr,type用于区分inputbox和outputbox
	let finishInput = function(_this,type) {
		let _tr = $(_this).parent().parent();
		
		// 获取value
		/*let codeRuler = _tr.find(".codeRuler").val();
		let changeRuler = _tr.find(".changeRuler").val();
		let value = _tr.find(".value").val();
		let dbfield = _tr.find(".dbfield").val();
		let explain = _tr.find(".explain").val();
		let length = _tr.find(".length").val();
		let notNull = _tr.find(".notNull").val();
		alert(codeRuler + ":" + changeRuler + ":" + value + ":" + dbfield + ":" + explain + ":" + length + ":" + notNull);
		*/
		// 切换为修改按钮
		let icon = $(_this).find(".layui-icon-ok");
		icon.removeClass("layui-icon-ok");
		icon.addClass("layui-icon-edit");
		// 禁编辑
		_tr.find("input").addClass("layui-btn-disabled"); // 禁编辑样式
		_tr.find("input").attr("disabled", "disabled"); // 禁编辑
		_tr.find("select").attr("disabled", "disabled"); // 禁编辑
		_tr.find("input").first().removeAttr("onclick"); // 禁点击
		_tr.find("input").last().removeAttr("onclick"); // 禁点击
		// 改事件
		$(_this).attr("onclick","editInput(this,'"+type+"')");
		
		// 完成
		if(type == "input"){
			inputIndex = -1;
		}else if(type == "output"){
			outputIndex = -1;
		}
		$(_this).removeAttr("style")
	}
		
	// 修改tr,type用于区分inputbox和outputbox
	let editInput = function(_this,type) {
		if(isEdit(type)) return;
		
		let _tr = $(_this).parent().parent();
		
		// 再次编辑，未完成
		if(type == "input"){
			inputIndex = $("#inputbox tr").index(_tr);
		}else if(type == "output") {
			outputIndex = $("#outputbox tr").index(_tr);
		}
		// 切换为完成按钮
		let icon = $(_this).find(".layui-icon-edit");
		icon.removeClass("layui-icon-edit");
		icon.addClass("layui-icon-ok")
		// 启动编辑
		_tr.find("input").removeClass("layui-btn-disabled"); // 去除禁编辑样式
		_tr.find("input").removeAttr("disabled"); // 去除禁编辑
		_tr.find("select").removeAttr("disabled"); // 去除禁编辑
		_tr.find("input").first().attr("onclick", "toggleRecord(this)"); // 编辑记录
		_tr.find("input").last().attr("onclick", "toggleNotNull(this)"); // 编辑不为空
		// 改事件
		$(_this).attr("onclick","finishInput(this,'"+type+"')");
		
	}
		
	// 上一步
	$("#back").click(function(){
		// 显示上一页
		showPage(--step)
	})
	
	// 下一步
	$("#next").click(function(){
		// 校验
		if(pages[step]=="#basePage"){
			if($("#serviceId").val().trim() == ''){
				layer.msg("服务ID不能为空！");
				return true;
			}
			if($("#explain").val().trim() == ''){
				layer.msg("服务名不能为空！");
				return false;
			}
			if(savedb == "1" && $("#tableName").val().trim() == ''){
				layer.msg("表名不能为空！");
				return false;
			}
		}else if(pages[step]=="#inputPage"){
			if($("#ReqRoot").val().trim() == ''){
				layer.msg("ReqRoot不能为空！");
				return false;
			}
			let input_trs = $("#inputbox").children();
			for(let i=0;i< input_trs.length;i++){
				if($(input_trs[i]).find(".record").val() == "多记录"){
					if($("#RecordRoot").val().trim() == ''){
						layer.msg("RecordRoot不能为空！");
						return false;
					}
				}
			}
			if(isEdit("input")) return false;
		}
		// 显示下一页
		showPage(++step)
	})
	
	// 完成
	let finish = async function(url){
		// 校验
		if(pages[step]=="#outputPage"){
			if($("#hiscode").val().trim() == ''){
				layer.msg("hiscode不能为空！");
				return false;
			}
			if($("#hismsg").val().trim() == ''){
				layer.msg("hismsg不能为空！");
				return false;
			}
			if($("#rightcode").val().trim() == ''){
				layer.msg("rightcode不能为空！");
				return false;
			}
			if(isEdit("output")) return false;
		}
		let loadIndex = layui.layer.load();
		// 基础信息
		let serviceId = $("#serviceId").val().trim();
		let explain = $("#explain").val().trim();
		let datatype = $("#datatype").val();
		let tableName = "";
		if(savedb == "1"){
			tableName = $("#tableName").val();
		}
		console.log("---------base end---------")
		console.log(serviceId)
		console.log(explain)
		console.log(datatype)
		console.log(savedb)
		console.log(tableName)
		console.log("---------base end---------")
		// 输入参数
		let ReqRoot = $("#ReqRoot").val().trim();
		let RecordRoot = $("#RecordRoot").val().trim();
		let input_trs = $("#inputbox").children();
		let inputTitles = [];
		let inputRecords = [];
		for(let i=0;i< input_trs.length;i++){
			let _tr = $(input_trs[i]);
			// 获取value
			let param = {
				codeRuler: _tr.find(".codeRuler").val().trim(),
				changeRuler: _tr.find(".changeRuler").val().trim(),
				"function": _tr.find(".dic").val(),
				value: _tr.find(".value").val().trim(),
				dbfield: _tr.find(".dbfield").val().trim(),
				explain: _tr.find(".explain").val().trim(),
				length: _tr.find(".length").val().trim(),
				notNull: _tr.find(".notNull").val().trim()
			};
			if(_tr.find(".record").val() == "单记录"){
				inputTitles.push(param);
			}else if(_tr.find(".record").val() == "多记录"){
				inputRecords.push(param);
			}
		}
		console.log("---------input start---------")
		console.log(ReqRoot)
		console.log(RecordRoot)
		console.log(inputTitles)
		console.log(inputRecords)
		console.log("---------intput end---------")
		// 输出参数
		let hiscode = $("#hiscode").val().trim();
		let hismsg = $("#hismsg").val().trim();
		let rightcode = $("#rightcode").val().trim();
		let output_trs = $("#outputbox").children();
		let outputTitles = [];
		let outputRecords = [];
		for(let i=0;i< output_trs.length;i++){
			let _tr = $(output_trs[i]);
			// 获取value
			let param = {
				codeRuler: _tr.find(".codeRuler").val().trim(),
				changeRuler: _tr.find(".changeRuler").val().trim(),
				"function": _tr.find(".dic").val(),
				value: _tr.find(".value").val().trim(),
				dbfield: _tr.find(".dbfield").val().trim(),
				explain: _tr.find(".explain").val().trim(),
				length: _tr.find(".length").val().trim(),
				notNull: _tr.find(".notNull").val().trim()
			};
			if(_tr.find(".record").val() == "单记录"){
				outputTitles.push(param);
			}else if(_tr.find(".record").val() == "多记录"){
				outputRecords.push(param);
			}
		}
		console.log("---------output start---------")
		console.log(hiscode)
		console.log(hismsg)
		console.log(rightcode)
		console.log(outputTitles)
		console.log(outputRecords)
		console.log("---------output end---------")
		// 拼凑数据
		let inputData = {
			reqRoot: ReqRoot,
			recordRoot: RecordRoot,
			titles: inputTitles,
			records: inputRecords
		};
		let outputData = {
			retCodeRuler: {
				hiscode: hiscode,
				hismsg: hismsg,
				rightcode: rightcode
			},
			titles: outputTitles,
			records: outputRecords
		}
		let params = {
			serviceId: serviceId,
			serviceExplain: explain,
			dataType: datatype,
			savedb: savedb,
			tableName: tableName,
			input: JSON.stringify(inputData),
			output: JSON.stringify(outputData)
		}
		console.log(params);
		// 发送请求，保存服务
		// return;
		await axios.post('/trade/' + url, params).then( res => {
			res = res.data;
			console.log(res);
			if(res.code == "0") {
				layer.msg(res.msg, {
					offset: '15px'
					,icon: 1
					,time: 1000
				},function(){
					layui.table.reload('table', {where: getParam()}, 'data');
					layer.closeAll();
				});
			}else {
				layer.msg(res.msg);
			}
		})
		.catch(function (e) {
			layer.msg("网络异常");
			console.log(e);
		});
		layui.layer.close(loadIndex);
	}
	
	
	let parseXml = function(type) {
		var index = layer.confirm('解析会清空表格，确认解析？', {
			btn: ['确认','取消'] //按钮
		},
		function(){
			if(type == "input") {
				getRules("",$($.parseXML($("#inputXmlContent").val())).children(), type);
				console.log(inputRules)
				$("#inputbox").html('');
				let _tr;
				for(let i=0;i<inputRules.length;i++) {
					let reg = /\$\{type\}/g;
					_tr = $($("#inputTemplate").html().replace(reg, 'input'));
					_tr.find(".changeRuler").val(inputRules[i]);
					_tr.find(".dbfield").attr("onchange", "changeColumn(this,'')")
					$("#inputbox").append(_tr);
					_tr.find("button").first().click();
				}
			}else if(type == "output"){
				getRules("",$($.parseXML($("#outputXmlContent").val())).children(), type);
				console.log(outputRules)
				$("#outputbox").html('');
				let _tr;
				for(let i=0;i<outputRules.length;i++) {
					let reg = /\$\{type\}/g;
					_tr = $($("#inputTemplate").html().replace(reg, 'output'));
					_tr.find(".changeRuler").val(outputRules[i]);
					_tr.find(".dbfield").attr("onchange", "changeColumn(this,'')")
					$("#outputbox").append(_tr);
					_tr.find("button").first().click();
				}
			}
			layer.close(index);
		}, function(){
			layer.close(index);
		});
	}
	
	let inputRules = [];
	let outputRules = [];
	let getRules = function(preRule, _node, type){
		preRule = preRule + "/" + _node.get(0).tagName;
		if(_node.children().length == 0){
			if(type == "input"){
				inputRules.push(preRule);
			}else if(type == "output"){
				outputRules.push(preRule);
			}
		}else{
			for(let i=0;i<_node.children().length;i++){
				getRules(preRule, $(_node.children()[i]), type);
			}
		}
	}
	
	

</script>

</html>

