<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rongli.mapper.primary.PatientMapper">

	<cache-ref namespace="com.rongli.mapper.primary.PatientMapper"/>

	<select id="selectPatientList" resultType="com.alibaba.fastjson.JSONObject">
		SELECT * 
		FROM v_api_create 
		<where>
			<if test="name != null and name != ''">
				AND name LIKE CONCAT('%',#{name},'%') 
			</if>
			<if test="termId != null and termId != ''">
				AND term_id LIKE CONCAT('%',#{termId},'%') 
			</if>
			<if test="patientId != null and patientId != ''">
				AND patient_id LIKE CONCAT('%',#{patientId},'%') 
			</if>
			<if test="cardType != null and cardType != ''">
				AND card_type = #{cardType} 
			</if>
			<if test="tradeResult != null and tradeResult != ''">
				AND trade_result = #{tradeResult} 
			</if>
			<if test="startDate != null and startDate != ''
				and endDate != null and endDate != ''">
				AND trade_time BETWEEN #{startDate} and #{endDate}
			</if>
		</where>
	</select>
	
</mapper>