<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
	<link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
	<link rel="stylesheet" th:href="@{/layuiadmin/layui/css/formSelects-v4.css?v=1}" media="all">
	<link rel="stylesheet" th:href="@{/css/my.css?v=3}" media="all">
	
	<title>充值记录</title>
</head>
<body>
<blockquote class="layui-elem-quote layui-text">
	<form class="layui-form">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">终端ID</label>
				<div class="layui-input-inline">
					<input type="text" id="termId" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">用户姓名</label>
				<div class="layui-input-inline">
					<input type="text" id="name" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">订单号</label>
				<div class="layui-input-inline">
					<input type="text" id="orderId" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">支付流水</label>
				<div class="layui-input-inline">
					<input type="text" id="transactionNo" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">银行卡号</label>
				<div class="layui-input-inline">
					<input type="text" id="bankCardNo" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">充值金额</label>
				<div class="layui-input-inline">
					<input type="text" id="amount" class="layui-input">
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">支付渠道</label>
				<div class="layui-input-inline">
					<select id="channelType" lay-filter="channelType" th:with="list=${@apiService.selectChannelList()}">
						<option value=""></option>
						<option  th:each="channel:${list}" th:value="${channel.channelType}" th:text="${channel.channelTypeDesc}"></option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">交易返回</label>
				<div class="layui-input-inline">
					<select id="tradeResult" lay-filter="tradeResult" >
						<option value="">全部</option>
						<option value="0">成功</option>
						<option value="1">失败</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
			 	<label class="layui-form-label">查询类别</label>
			 	<div class="layui-input-block">
				  	<select  id="datetype" lay-filter="datetype" >
						<option  value="y" selected>按年查询</option>
						<option  value="m">按月查询</option>
						<option  value="d">按日查询</option>
					</select>
				</div>
			</div>
			<div class="layui-inline">
				<label class="layui-form-label">日期范围</label>
				<div class="layui-input-block"  id="dateBox">
					<input type="text" class="layui-input" id="tradeTime" style="width:200px;" placeholder="YYYY-MM-DD" readonly="readonly">
				</div>
			</div>
			<div class="layui-inline">
				<button class="layui-btn" type="button" id="btn-query"><i class="layui-icon layui-icon-search"></i>搜索</button>
			</div>
		</div>
	</form>
</blockquote>
<table id="tb" lay-filter="tb"></table>
</body>
<script th:src="@{/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{/js/Call_Ajaxtools.js}"></script>
<script th:src="@{/js/axios.min.js}"></script>
<script th:src="@{/js/C1.js}"></script>   
<script th:src="@{/layuiadmin/layui/layui.js}"></script>  
<script th:inline="text">
layui.config({
    base: '[[@{/layuiadmin/}]]', //静态资源所在路径
    version: new Date().getTime() //每次发布项目时，跟着改动下该属性值即可更新静态资源的缓存
  }).extend({
	    index: 'lib/index', //主入口模块
	    formSelects: 'lib/extend/formSelects-v4'
  }).use(['form','table','layer', 'formSelects', 'laydate'], function(){
		let table = layui.table;
		let form = layui.form;
		let formSelects = layui.formSelects;
		let laydate = layui.laydate;
		
		laydate.render({
			elem: '#tradeTime'
			,type: 'year'
			,max: C1_GetAfterDate(-1).substring(0,4)
			,value: C1_GetAfterDate(-1).substring(0,4)
			,done: function(value, date, endDate){
			}
		});
		
		// 监听时间类型选项
		form.on('select(datetype)', function(data){
			let datetype = data.value;
			$("#tradeTime").remove();
		    $("#dateBox").html('<input type="text" class="layui-input" id="tradeTime" style="width:200px;" placeholder="YYYY-MM-DD" readonly="readonly">');
		    switch (datetype) {
				case "y":
					laydate.render({
						 elem: '#tradeTime'
						,type: 'year'
						,max: C1_GetAfterDate(-1).substring(0,4)
						,value:C1_GetAfterDate(-1).substring(0,4)
						,done: function(value, date, endDate){
							//alert(value); //得到日期生成的值，如：2017-08-18
							//console.log(date); //得到日期时间对象：{year: 2017, month: 8, date: 18, hours: 0, minutes: 0, seconds: 0}
							//console.log(endDate); //得结束的日期时间对象，开启范围选择（range: true）才会返回。对象成员同上。
						}
					});
					break;
				case "m":
					laydate.render({
						 elem: '#tradeTime'
						,type: 'month'
						,max: C1_GetAfterDate(-1).substring(0,7)
						,value:C1_GetAfterDate(-1).substring(0,7)
						,done: function(value, date, endDate){
						}
					});
					break;
				case "d":
					laydate.render({
						 elem: '#tradeTime'
						,type: 'date'
						,range: "~"
						,min: C1_GetAfterDate(-30)
						,max: C1_GetAfterDate(-1)
						,value:C1_GetAfterDate(-30)+" ~ "+C1_GetAfterDate(-1)
						,done: function(value, date, endDate){
						}
					});
					break;
			}
		})
		
		// 搜索参数
		let getParam = function(){
			var datetype = $("#datetype").val();
			var date = $("#tradeTime").val();
			var startDate = "";
			var endDate = "";
			if(datetype=="d" && date != ""){
				var array=date.split("~");
				startDate = C1_trim(array[0]);
				endDate = C1_trim(array[1]);
			}else{
				startDate = date;
				endDate = date;
			}
			//查询参数
			let params = {
				termId: $("#termId").val().trim(),
				name: $("#name").val().trim(),
				orderId: $("#orderId").val().trim(),
				transactionNo: $("#transactionNo").val().trim(),
				bankCardNo: $("#bankCardNo").val().trim(),
				amount: $("#amount").val().trim(),
				channelType: $("#channelType").val().trim(),
				tradeResult: $("#tradeResult").val().trim(),
				datetype: datetype,
				startDate: startDate,
				endDate: endDate
			};
			return params;
		}
		
		
		// 查询按钮
		$('#btn-query').on('click', function(){
			reload();
		});
		
		// 回车查询
		$("body").keydown(function() {
		   if(event.keyCode == "13") {//keyCode=13是回车键
				reload();
				return false;
			}
		});
		
		
		// 渲染表
		table.render({
			elem: '#tb'
			,id:'table'
			,method:'POST'
			,toolbar: '#toolbar'
			,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
				title: '提示'
				,layEvent: 'LAYTABLE_TIPS'
				,icon: 'layui-icon-tips'
			}]
			,where: getParam()
			,url:'[[@{/trade/selectRechargeList}]]'
			,loading:true
			,cols: [
				[
					{type: 'radio', fixed: 'left'}
					,{field:'tradeResult', width:100,  title: '交易返回码'}
					,{field:'tradeMessage', width:200, title: '交易返回的消息'}
					,{field:'tradeTime', width:180, title: '交易时间'}
					,{field:'termId', width:100, title: '终端ID'}
					,{field:'name', width:100, title: '用户姓名'}
					,{field:'orderId', width:180, title: '订单号'}
					,{field:'bankCardNo', width:180, title: '银行卡号'}
					,{field:'chargeTime', width:180, title: '充值时间'}
					,{field:'transactionNo', width:180, title: '支付流水号'}
					,{field:'channelTypeDesc', width:100, title: '支付渠道'}
					,{field:'amount', width:100, title: '充值金额'}
					,{field:'payTypeDesc', width:100, title: '支付类型'}
					,{field:'admissionNo', width:100, title: '住院号'}
					,{field:'operatorId', width:100, title: '操作员', hide: true}
					,{field:'patientId', width:100, title: '院内用户ID', hide: true}
					,{field:'medicalNo', width:100, title: '病历号', hide: true}
					,{field:'certTypeDesc', width:100, title: '证件类型', hide: true}
					,{field:'certificateNo', width:100, title: '证件号码', hide: true}
					,{field:'cardTypeDesc', width:100, title: '卡类型', hide: true}
					,{field:'cardNo', width:100, title: '卡号', hide: true}
					,{field:'remark', width:100, title: '备注', hide: true}
					,{field:'balance', width:100, title: '余额', hide: true}
				]
			]
		   	,page: true
			,done: function (res, curr, count) {
				console.log(res.data);
				let that = this.elem.next();
				res.data.forEach(function (item, index) {
					if (item.tradeResult == "1") {
						let tr = that.find(".layui-table-box tbody tr[data-index='" + index + "']");
						tr.css("background-color", "#ffcaca");
					}
				});
			}
		});
		
		// 重新渲染表
		let reload = function(){
			table.reload('table', {where: getParam()}, 'data');
		}
		
		
	});
	
	
	
	

</script>

</html>

