<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet"
	th:href="@{/layuiadmin/layui/css/formSelects-v4.css?v=1}" media="all">
<link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}"
	media="all">
<link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}"
	media="all">
<link rel="stylesheet" th:href="@{/css/my.css?v=3}" media="all">
<title>添加用户</title>
</head>
<body>
	<form class="layui-form" id="form" method="post">
		<div class="layui-form-item"></div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">菜单logo<span
					style="color: red">*</span></label>
				<div class="layui-input-inline">
					
		           <select  name="category" id="fontlogo" lay-verify="required" th:with="fontlogolist=${@userService.selectFontLogoList()}">
                     <option value="" >请选择图标</option>
                     <option  th:each="fontlogo:${fontlogolist}"  th:value="${fontlogo}" th:text="${fontlogo}" th:attr="class=${fontlogo}">
                      
                     </option>
                   </select>
                   
				</div>
			</div>
			
			<div class="layui-inline">
				<label class="layui-form-label">菜单名称<span style="color: red">*</span></label>
				<div class="layui-input-inline">
					<input type="hidden" id="menuid"> 
					<input type="hidden" id="fmenuid">
					<input type="text"
						id="menuname" class="layui-input">
				</div>
			</div>

		</div>
		<div class="layui-form-item">

			<div class="layui-inline">
				<label class="layui-form-label">排序号<span
					style="color: red">*</span></label>
				<div class="layui-input-inline">
					<input type="number" id="sort" class="layui-input" lay-verify="required|number">
				</div>
			</div>
	<div class="layui-inline">
				<label class="layui-form-label">菜单url</label>
				<div class="layui-input-inline">
					<input type="text" id="linkurl" class="layui-input">
				</div>
				
			</div>
		</div>

		<div class="layui-form-item">
					<div class="layui-inline">
				<label class="layui-form-label">组件路径</label>
				<div class="layui-input-inline">
					<input type="text" id="path" class="layui-input">
				</div>
			</div>
	    <div class="layui-inline">
	      <label class="layui-form-label">内部菜单<span style="color: red">*</span></label>
	      <div class="layui-input-inline">
	        <input type="checkbox"  id="isinside" lay-skin="switch" lay-filter="switch" lay-text="是|否">
	      </div>
	    </div>
		</div>
		
	</form>
</body>
<script th:src="@{/js/jquery-2.0.0.min.js}"></script>
<script th:src="@{/js/C1.js}"></script>
<script th:src="@{/js/Call_Ajaxtools.js}"></script>
<script th:src="@{/layuiadmin/layui/layui.js}"></script>

<script th:inline="text">
layui.config({
    base: '[[@{/layuiadmin/}]]', //静态资源所在路径
    version: new Date().getTime() //每次发布项目时，跟着改动下该属性值即可更新静态资源的缓存
  }).extend({
    index: 'lib/index', //主入口模块
    formSelects: 'lib/extend/formSelects-v4'
  }).use(['form','layer', 'formSelects'], function(){
		  var table = layui.table;
		  var form = layui.form;
		  var formSelects = layui.formSelects;
		  //formSelects.value('tags', ['2','3']);//赋值选中，为option的value值，数组形式，给上海和深圳选中
		  
		 var isinside = "0";
		  
		  layui.initformSelects = function(data){

		      $("#fontlogo").val(data);
		      form.render();
		  }
		  
		  layui.initSwitch = function(code){
			  isinside = code;
			  if(code=='1'){//启用
				  $('#isinside').next().click();
				  /* $('#isinside').next().addClass('layui-form-onswitch'); //是
				  $('#isinside').next().children('em').text('是'); */
			 }else{//不启用
				 //$('#isinside').next().removeClass('layui-form-onswitch'); //否
			 }
		  }
		  
		//表单swicth监听
		 form.on('switch(switch)', function(data){
				if(data.elem.checked){ //开关value值，也可以通过data.elem.value得到
					isinside="1";
				}else{
					isinside="0";
				}
		 });
		  
		  layui.subMenu=function(){
			  var menuid=$("#menuid").val();
			 
			  var menuname=$("#menuname").val();
			  if(showNotNull(menuname,'菜单名不能为空')) return;
			  var sort=$("#sort").val();
			  if(showNotNull(sort,'排序号不能为空')) return;
			  var path=$("#path").val();
			  var linkurl=$("#linkurl").val();
			  var fmenuid=$("#fmenuid").val();
			  var fontlogo=$("#fontlogo").val();
			  if(showNotNull(fontlogo,'请选择logo')) return;
				$.when(call_AjaxSyncRetObj("[[@{/trade/editMenu}]]?menuid="+menuid+"&menuname="+menuname+"&sort="+sort+"&path="+path+"&linkurl="+linkurl+"&fmenuid="+fmenuid+"&fontlogo="+fontlogo+"&isinside="+isinside)).done(function(data){
					   
				    var obj=eval(data);   //eval("("+data+")");
				    
				    if(obj.code=="0"){  
				    	 //登入成功的提示与跳转
				    	//console.log(obj);
			            layer.msg(obj.msg, {
			              offset: '15px'
			              ,icon: 1
			              ,time: 1000
			            }, function(){
			            	//关闭窗体
			            	  window.parent.location.reload();
							  var index = parent.layer.getFrameIndex(window.name);
							  parent.layer.close(index);
							  return;
			            });
					}else{
						layer.msg(obj.msg);
						return;
					}
				});
		  }
		  
		  function showNotNull(str,msg){
				if(str == null || str.trim() == ""){
					layer.msg(msg);
					return true;				
				}
				return false;
			}
		  
	});
	
</script>

</html>

